@import "~src/assets/scss/_variables.scss";

$auth-bg-color: #E5DFD3;

.auth{
    background-color: $auth-bg-color;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 70px 75px;
    &__section{
        display: grid;
        max-height: 100%;
        background-color: #fff;
        border-radius: 2px;
        grid-template-columns: 40% 60%;
        @media screen and (max-width: 900px) {
            
        }
        &__left {
            padding: 100px 125px;
            & h1 {
                font-size: 2.5rem;
                margin: 35px 0 15px;
            }
            & p {
                margin-bottom: 40px;
            }
            
        }
    }
}