<main class="auth">
    <section class="auth__section">
        <div class="auth__section__left">
            <h3>Wecode</h3>
            <h1>Get started</h1>
            <p class="c-grey">Already have on account? <a class="text-underline fw-600">Sign In</a></p>
            <app-auth-form></app-auth-form>
            <p class="c-grey">By signing up you agree to our <a class="text-underline c-grey">Privacy Policy</a> and <a class="text-underline c-grey">Terms of Service</a></p>
        </div>
        <div class="auth__section__right">
            <!-- <img src="../../../../../assets/images/36e7698354abf9927835b7905b3c78ec.png"> -->
        </div>
    </section>
</main>