@import "~src/assets/scss/_variables.scss";

$auth-bg-color: #E5DFD3;

.auth{
    background-color: $auth-bg-color;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 70px 75px;
}