// ------------- COLORS
$main-color: #2D2C2C;
$grey-color: #AFAFAF;
$green-color: #255D50;
$red-color: #C54139;

// ------------ FONTS#
$montserrat: 'Montserrat', sans-serif;









// ------ selectors
.main-color {
    color: $main-color
}

.c-grey {
    color: $grey-color;
}