// ------------- COLORS
$main-color: #2d2c2c;
$grey-color: #afafaf;
$green-color: #255d50;
$red-color: #c54139;

$main-bg-color: #20232a;
$transition-color: rgb(124, 124, 124);
$hero-card-bg-color: #3d3e43;
$heroes-banner-bg-color: #c7fcec;

// --------- SIZES
$main-font-size: 17px;

@media screen and (max-width: 1500px) {
  $main-font-size: 16px;
}
@media screen and (max-width: 1300px) {
  $main-font-size: 15px;
}
@media screen and (max-width: 1100px) {
  $main-font-size: 13px;
}
@media screen and (max-width: 900px) {
  $main-font-size: 12px;
}
@media screen and (max-width: 700px) {
  $main-font-size: 11px;
}
@media screen and (max-width: 500px) {
  $main-font-size: 9px;
}
@media screen and (max-width: 320px) {
  $main-font-size: 9px;
}

// ------------ FONTS#
$montserrat: "Montserrat", sans-serif;

// ------ selectors
.main-color {
  color: $main-color;
}

.c-grey {
  color: $grey-color;
}
