@import "~src/assets/scss/_variables.scss";
@import "~src/assets/scss/_utils.scss";
.auth__form {
	& div {
		margin: 30px 0;
	}
	&__btn {
		margin-top: 20px;
		width: 100%;
		padding: 13px 0;
		color: #fff;
		background-color: $main-color;
		font-size: rem(16);
		transition: background-color .2s ease-in-out;
		&:hover {
			background-color: rgb(73, 72, 72);
		}
	}
}
