<div class="main">
  <div class="container">
    <header class="main__header">
      <div class="main__header__logo">
        <img src="../../../../../assets/images/logo.png" alt="" />
      </div>
      <nav class="main__header__nav">
        <a class="main__header__nav__item" *ngFor="let link of links" [routerLink]="link.url"
          routerLinkActive="active">{{ link.name }}</a>
      </nav>
    </header>
  </div>
    <router-outlet></router-outlet>
  <!-- <button (click)="logOut()">logout</button> -->
  <footer class="footer">
    <nav class="footer__links">
        <a class="footer__links__item" *ngFor="let link of links" [routerLink]="link.url" routerLinkActive="active">{{ link.name }}</a>
    </nav>
    <div class="footer__year">
      <span class="c-grey">2020</span>
    </div>
  </footer>
</div>

