@import "~src/assets/scss/_variables.scss";

.main {
	color: #fff;
	background-color: $main-bg-color;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 20px;
		&__logo {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__img {
				width: 20%;
				& img {
					width: 100%;
					display: block;
				}
			}
		}
		&__nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__item {
				margin: 0 30px;
				color: #fff;
				transition: color 0.2s ease-in;
				&:hover {
					color: $transition-color;
				}
				&.active {
					color: $transition-color;
				}
			}
		}
		&__burgerBtn {
			cursor: pointer;
			color: #fff;
			display: none;
		}
	}
}

.footer {
	margin-top: 150px;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		&__item {
			color: #fff;
			transition: color .2s ease-in;
			&:hover {
				color: $transition-color;
			}
			&.active {
				color: $transition-color;
			}
		}
	}
	&__year {
		text-align: center;
	}
}

@media screen and (max-width: 900px) {
	.main {
		&__header {
			flex-direction: column;
			position: relative;
			&__nav {
				width: 100%;
				flex-direction: column;
				position: absolute;
				background-color: $hero-card-bg-color;
				right: 2000px;
				top: 100px;
				opacity: 0;
				z-index: 1000;
				transition: all .5s linear;
				&__item {
					padding: 10px;
					width: 100%;
					text-align: center;
				}
				&.open {
					right: 0;
					opacity: 1;
				}
			}
			&__burgerBtn {
				display: block;
			}
		}
	}
	.footer {
		&__links {
			flex-direction: column;
			&__item {
				margin: 10px 0;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.footer {
		&__links {
			flex-direction: row;
			&__item {
				margin: 0 20px;
			}
		}
	}
}
