@import "~src/assets/scss/_variables.scss";
.heroLayout {
	width: 100%;
	padding: 150px 0;
	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__article {
		display: grid;
		grid-template-columns: 35% 65%;
		&__img {
			width: 100%;
			& img {
				display: block;
				width: 100%;
			}
		}
		&__info {
			&__name {
				margin-bottom: 20px;
			}
			&__statusAndSpecies {
				display: flex;
				align-items: center;
				&__status__text {
					margin-right: 5px;
				}
				&__species {
					margin-left: 5px;
				}
				margin-bottom: 10px;
			}
			&__location {
				margin: 10px 0;
			}
		}
	}
}
