<section class="heroLayout">
    <div> 
            <article class="heroLayout__article">
                <div class="heroLayout__article__img">
                    <img src="" alt="">
                </div>
                <div class="heroLayout__article__info">
                    <h2 class="heroLayout__article__info__name">Rick Sanchez</h2>
                    <div class="heroLayout__article__info__statusAndSpecies">
                        <span class="circle"></span>
                        <span class="heroLayout__article__info__statusAndSpecies__status__text fw-600">Alive</span>
                        <span>-</span>
                        <span class="heroLayout__article__info__statusAndSpecies__species fw-600">Human</span>
                    </div>
                    <div class="heroLayout__article__info__gender">
                        <span>Gender: </span>
                        <span class="fw-600">Male</span>
                    </div>
                    <div class="heroLayout__article__info__location">
                        <span>Location: </span>
                        <span class="fw-600">Earth (Replacement Dimension)</span>
                    </div>
                    <div class="heroLayout__article__info__origin">
                        <span>Origin: </span>
                        <span class="fw-600">Earth (Replacement Dimension)</span>
                    </div>
                </div>
            </article>
    </div>
</section>
