<form class="auth__form" [formGroup]="form">
  <div>
    <app-input
      placeholder="Your name"
      type="text"
      formControlName="name"
      [valid]="form.get('name').valid"
      [errors]="form.get('name').errors"
      [value]="form.get('name').value"
    ></app-input>
  </div>
  <div>
    <app-input
      placeholder="Your email"
      type="email"
      formControlName="email"
      [valid]="form.get('email').valid"
      [errors]="form.get('email').errors"
      [value]="form.get('email').value"
    ></app-input>
  </div>
  <div>
    <app-input
      placeholder="Password"
      type="password"
      formControlName="password"
      [valid]="form.get('password').valid"
      [errors]="form.get('password').errors"
      [value]="form.get('password').value"
    ></app-input>
  </div>
  <button
    class="auth__form__btn fw-700"
    (click)="onSubmit()"
    [disabled]="form.invalid || signProgress"
  >
    Sign Up
  </button>
</form>
