<section class="auth__section">
    <div class="auth__section__left">
      <h3>Wecode</h3>
      <h1>Get started</h1>
      <p class="c-grey">
        Already have on account? <a class="text-underline fw-600" routerLink="/login">Sign In</a>
      </p>
      <app-sign-up-form></app-sign-up-form>
      <p class="c-grey">
        By signing up you agree to our
        <a class="text-underline c-grey">Privacy Policy</a> and
        <a class="text-underline c-grey">Terms of Service</a>
      </p>
    </div>
    <div class="auth__section__right">
      <img src="https://i.pinimg.com/originals/ab/d3/91/abd391cf3428d8d3cb03c7993342ce91.jpg">
    </div>
</section>
