.community__banner {
	width: 100%;
	& img {
		display: block;
		width: 100%;
		height: auto;
	}
}
.community__content {
	padding: 50px 20px;

	&__asyncContainer {
		width: 100%;
	}
	&__lengthContainer {
		width: 100%;
		display: grid;
	}
	&__userItem {
		margin: 20px;
	}
}
.text-center {
	text-align: center;
}

@media screen and (min-width: 0) {
	.community__content {
		&__lengthContainer {
			grid-template-columns: 100%;
		}
	}
}

@media screen and (min-width: 480px) {
	.community__content {
		padding: 50px 80px;
	}
}

@media screen and (min-width: 720px) {
	.community__content {
		padding: 50px 20px;
		&__lengthContainer {
			grid-template-columns: 50% 50%;
		}
	}
}

@media screen and (min-width: 920px) {
	.community__content {
		&__lengthContainer {
			grid-template-columns: 33.33333% 33.33333% 33.33333%;
		}
	}
}

@media screen and (min-width: 1300px) {
	.community__content__lengthContainer {
		grid-template-columns: 25% 25% 25% 25%;
	}
}
