/* You can add global styles to this file, and also import other style files */
@import "~src/assets/scss/_variables.scss";
@import "~src/assets/scss/_fonts.scss";
@import "~src/assets/scss/_utils.scss";

* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	color: $main-color;
	font-family: $montserrat;
	font-size: $main-font-size;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.container {
	width: 90%;
	margin: 0 auto;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: $main-color;
}

button {
	cursor: pointer;
	border-radius: 0;
	border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
.text-underline {
	text-decoration: underline;
	color: $main-color;
}
.helper-text {
	display: block;
	margin-top: 4px;
	color: $red-color;
	font-size: rem(13);
}
button:disabled {
	opacity: 0.6;
}

.circle {
	margin-right: 5px;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: $grey-color;
	&.alive {
		background-color: #54cd44;
	}
	&.dead {
		background-color: $red-color;
	}
}
