<section class="chat">
    <div class="chat__left">
        <div class="chat__messages">
            <div class="chat__message left">
               <div>
                    Hello World
               </div>
            </div>
            <div class="chat__message right">
               <div>
                    Hello
               </div>
            </div>
        </div>
        <form class="chat__form">
            <input type="text" class="chat__form__input">
            <button class="chat__form__btn">Send</button>
        </form>
    </div>
    <div class="chat__right">
        <div class="chat__right__user">
            <span>Pavel</span>
        </div>
    </div>
</section>