@import "~src/assets/scss/_variables.scss";
.chat {
	padding: 40px 0;
	display: grid;
	grid-template-columns: 70% 30%;
	&__messages {
		min-height: 350px;
		display: flex;
		flex-direction: column;
		padding: 20px 0;
	}
	&__message {
		display: flex;
		margin: 10px 0;
		color: #000;
		& > div {
			width: 30%;
			border-radius: 7px;
			padding: 5px 10px;
		}
		&.right {
			justify-content: flex-end;
			& > div {
				background-color: #6aaa98;
			}
		}
		&.left {
			justify-content: flex-start;
			& > div {
				background-color: $heroes-banner-bg-color;
			}
		}
	}
	&__form {
		display: grid;
		grid-template-columns: 80% 20%;
		&__input {
		}
	}
}
